@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

nav {
  width: 100%;
  height: 75px;
  background-color: #537188;
  line-height: 75px;
  padding: 0px 100px;

  left:0;
  top: 0;
  position: absolute;
  z-index: 1;
}

nav .logo {
  width: 60px;
  height: auto;
  margin-top: 5.5px;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
}

nav .nav_links {
  margin-right: 5%;
  position: absolute;
  top: 0px;
  right: 10px;
  font-weight: 500px;
  font-size: 16px;
  color:#e1d4bb;
  word-spacing: 8px;
  text-decoration: none;
  list-style-type: none;
}

a:link {
  color:#e1d4bb ;
  text-decoration: none;
}

a:hover {
  color: #cbb279;
  cursor: pointer;
}

a:visited {
  color: #e1d4bb;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

footer {
  width: 100%;
  height: 75px;
  background-color: #537188;
  line-height: 75px;
  padding: 0px 100px;
  left:0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
