@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #195794;
  text-shadow: 1px 1px 4px grey;
}

body {
  background-color: #e6dcda;
  margin: 0;

  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
  margin: 10px;
  width: auto;
  border-radius: 5px;
  height: fit-content;
  background-size: cover;
  background-color: rgb(25, 87, 148, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar a {
  text-shadow: 1px 1px 4px grey;
  color: #195794;
  text-decoration: none;
}

.nav-bar hr {
  margin: 0;
}
.nav-logo {
  height: 50px;
  margin-top: 5px;
  margin-left: 20px;
}

.nav-links li {
  display: inline-block;
}

.nav-links {
  float: right;
  top: 5px;
}
header h1,
p {
  color: #195794;
  text-shadow: #50514f;
  text-align: center;
}

header p {
  font-style: italic;
}

.nav-links li:last-child {
  margin-right: 20px;
}

.nav-bar a:hover {
  color: #c74e30;
}
.nav-menu {
  margin-right: 20px;
}
